.vs/
*/bin/
*/obj/
*.csproj.user
Release/
.idea/
StardewValleyMods.sln.DotSettings.user
*.log
.vscode/settings.json

# Unfortunately, I need a specific manifest inclusion for each "master" project.
# This is because I use KhloeLeclair's ModManifestBuilder, so I have no need to version manifests.
# However, I do also occasionally have content pack manifest files in a subfolder of a "master" project, so I can't
# just exclude all manifest.json files.

manifest.json

# Exclude Krita's backup files.
*.kra~
