name: Build mod
# IMPORTANT NOTE: Parts of this are hardcoded to work with my monorepo. I'll be making a more general, ideally drop
# in replacement at some point.

on:
    workflow_call:
        inputs:
            project_name:
                description: "This needs to match the csproj name, minus the .csproj."
                required: true
                type: string
            create_draft_release:
                required: true
                type: boolean

run-name: Build ${{ inputs.project_name }}.

jobs:
    build_and_release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write
            attestations: write
        steps:
            -   name: Checkout code.
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            -   name: Checkout reference assemblies.
                uses: actions/checkout@v4
                with:
                    repository: 'StardewModders/mod-reference-assemblies'
                    path: 'reference-assemblies'
                    fetch-depth: 1

            -   name: Get mod directory and csproj.
                run: |
                    csproj_path=$(find ~+ -name "${{ inputs.project_name }}.csproj")

                    if [[ -z  "$csproj_path" ]]; then
                        echo "Couldn't find the mod's csproj. Aborting."
                        exit 0
                    fi

                    csproj_dir=$(dirname $csproj_path)

                    echo "CSPROJ_PATH=$csproj_path" >> $GITHUB_ENV
                    echo "CSPROJ_DIR=$csproj_dir" >> $GITHUB_ENV

                    if [[ ! -e "$csproj_path" || ! -e "$csproj_dir" ]]; then
                        echo "Ran into a problem deriving the csproj path or directory."
                        exit 0
                    fi

                    echo "Working with \"$csproj_path\" in \"$csproj_dir\"."

            -   name: Build and zip project.
                run: |
                    dotnet build "$CSPROJ_PATH" \
                    -p:GamePath="/home/runner/work/${{ github.event.repository.name }}/${{ github.event.repository.name }}/reference-assemblies" \
                    -p:ModZipPath="/home/runner/work/${{ github.event.repository.name }}/${{ github.event.repository.name }}/Release/Zip" \
                    --configuration Release

            -   name: Get version from the project's .csproj file.
                id: get_version # project_version
                run: |
                    version=$(pwsh -Command "([xml](Get-Content "$CSPROJ_PATH")).Project.PropertyGroup.Version")
                    pattern="^([0-9]+)\.([0-9]+)\.([0-9]+)(-*[a-zA_Z0-9\-_.]*)?$"

                    if [[ "$version" =~ $pattern ]]; then
                        echo "project_version=$version" > $GITHUB_OUTPUT
                    else
                        echo "Input semver did not match our regex. Aborting."
                        echo "Debug info:"
                        echo "Extracted version: \"$version\""
                        echo "Regex used: $pattern"

                        exit 1
                    fi

            -   name: Hash artifacts.
                if: steps.get_version.outputs.project_version != ''
                id: assembly_hash # file_hash
                run: | # assembly_file here is technically not *super* portable. For public release, extract the assembly name from a csproj somewhere.
                    assembly_path="$CSPROJ_DIR/bin/Release/net6.0"
                    assembly_file="${{ inputs.project_name }}.dll"
                    cd "$assembly_path"
                    hash=$(sha256sum "$assembly_file")
                    echo "file_hash=$hash" >> $GITHUB_OUTPUT

            # Target for being made more general for public release.
            -   name: Check if artifact exists.
                if: steps.get_version.outputs.project_version != ''
                id: artifact_existence # artifact_exists & artifact_path
                run: |
                    file_directory="/home/runner/work/${{ github.event.repository.name }}/${{ github.event.repository.name }}/Release/Zip"
                    file_path="$file_directory/${{ inputs.project_name }} ${{ steps.get_version.outputs.project_version }}.zip"
                    if [ -f "$file_path" ]; then
                      echo "File found: $file_path"
                      echo "artifact_exists=true" >> $GITHUB_OUTPUT
                      echo "artifact_path=$file_path" >> $GITHUB_OUTPUT
                    else
                      echo "File not found: $file_path"
                      echo "artifact_exists=false" >> $GITHUB_OUTPUT
                    fi

            -   name: Generate artifact attestations.
                uses: actions/attest-build-provenance@v2
                id: attestation-step
                if: steps.get_version.outputs.project_version != '' && inputs.i_do_not_exist == 'true'
                with:
                    subject-path: |
                        ${{ steps.artifact_existence.outputs.artifact_path }}
                        $CSPROJ_DIR/bin/Release/net6.0/${{ inputs.project_name }}.dll

            -   name: Upload artifact.
                uses: actions/upload-artifact@v4
                if: steps.artifact_existence.outputs.artifact_path != ''
                with:
                    name: '${{ inputs.project_name }} v${{ steps.get_version.outputs.project_version }}'
                    path: '${{ steps.artifact_existence.outputs.artifact_path }}'
                    if-no-files-found: 'error'

            -   name: Create draft release.
                if: steps.artifact_existence.outputs.artifact_path != '' && inputs.create_draft_release == true
                uses: ncipollo/release-action@v1
                with:
                    artifacts: "${{ steps.artifact_existence.outputs.artifact_path }}"
                    token: ${{ secrets.GITHUB_TOKEN }}
                    tag: ${{ inputs.project_name }}/${{ steps.get_version.outputs.project_version }}
                    name: "${{ inputs.project_name }} ${{ steps.get_version.outputs.project_version }}"
                    body: |
                        Release for ${{ inputs.project_name }} version ${{ steps.get_version.outputs.project_version }}.
                        View attestation: ${{ steps.attestation-step.outputs.attestation-url }}
                    draft: true
                    prerelease: false
